body {
    margin: 0px;
    padding: 0px;
    background-color: #e6d0d3;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(to bottom, #ffa6a6, #e6d0d3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li a {
    margin: 35px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    font-weight: bold;
    font-weight: 650;
  }
  
  nav ul li a:hover {
    background-color: #f5fccd;
    border-radius: 10px;
    color: #ff0a7c;
  }
  .logo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(133, 49, 70);
    font-weight: bold;
    font-size: 25px;
  }
  
  
  #home {
    width: 100%;
    height: 95vh;
    position: relative;
    background-image: url('bg.png'); /* Ganti 'background.jpg' dengan nama gambar Anda */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  /* Jika Anda ingin mengubah warna teks pada bagian Home agar lebih terlihat */
  #home .home p {
    color: rgb(133, 49, 70);
  }
  
  .home p {
    line-height: 45px;
    margin: 3px 0px 3px;
  }
  .home p:nth-child(1) {
    font-family: optima;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    margin-top: 90px;
    font-size: 20px;
  }
  .home p:nth-child(2) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    margin-bottom: 23px;
    font-size: 34px;
  }
  .home p:nth-child(3) {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    font-size: 30px;
  }
  .home p:nth-child(4) {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    font-size: 30px;
  }
  .home {
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(12%, 42%);
  }
  .picture {
    width: 400px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translateX(-70%);
    border-radius: 50%;
  }
  
  .about {
    height: 55vh;
    padding: 2% 10% 10%;
  }
  
  /* Gambar di sebelah kiri teks */
  .left-image {
    float: left; /* Mengatur gambar agar berada di sebelah kiri teks */
    margin-right: 25px; /* Memberikan jarak antara gambar dan teks */
  }
  
  
  .about-desc {
    margin: 50px 50px;
  }
  .about-desc h1:nth-child(1) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .about-desc p:nth-child(2) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(133, 49, 70);
    text-align: justify;
  }
  
  .row {
    margin: 30px;
    padding: 5px;
    display: flex;
  }
  
  .row .column h2 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .row .column ul {
    text-align: justify;
    list-style-type: disc;
    color: rgb(0, 0, 0);
  }
  .column {
    flex: 50%;
    padding: 30px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    height: 150px;
    margin: 14px;
  }
  
  #skill {
    width: 100%;
    height: 95vh;
    position: relative;
  }
  
  .skill {
    height: 65vh;
    padding: 2% 10% 10%;
  }
  
  .skill-desc {
    margin: 50px 50px;
  }
  .skill-desc h1:nth-child(1) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .skill-desc p:nth-child(2) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  /* Tambahkan CSS ini untuk mengatur tampilan kolom-kolom dan kotak-kotak */
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column-left,
  .column-right {
    width: calc(50% - 10px); /* Untuk membuat dua kolom dengan jarak antara kolom */
    margin-bottom: 20px;
  }
  
  /* Tambahkan CSS ini untuk mengatur tampilan kotak */
  .box {
    background: linear-gradient(to bottom, #ffa6a6, #e6d0d3);
    
    padding: 20px; /* Padding di dalam kotak */
    border-radius: 10px; /* Sudut kotak */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Shadow kotak */
  }
  
  /* Sesuaikan warna, padding, border, dan lainnya sesuai kebutuhan Anda */
  
  
  .box-container {
    display: flex;
    text-align: justify;
    justify-content: space-around;
  }
  .box1,
  .box2,
  .box3 {
    width: 450px;
    height: 250px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 25px;
    background: linear-gradient(to bottom, #ffa6a6, #e6d0d3);
    border-radius: 25px;
  }
  
  .contact {
    height: 65vh;
    padding: 2% 10% 10%;
  }
  
  /* Tambahkan CSS ini untuk mengatur tampilan kolom-kolom */
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column-left,
  .column-right {
    width: calc(50% - 10px); /* Untuk membuat dua kolom dengan jarak antara kolom */
    margin-bottom: 20px;
  }
  
  /* Tambahkan CSS ini untuk mengatur ukuran teks */
  .column h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .column p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Media query jika lebar layar lebih kecil dari 880px */
  @media (max-width: 880px) {
    .column-left,
    .column-right {
      width: 100%; /* Kolom menjadi satu kolom penuh saat layar lebih kecil */
    }
  }
  
  
  .contact-desc h1:nth-child(1) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    color: #ee3683; /* Ubah warna teks ke #ee3683 */
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .contact-desc p:nth-child(2) {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  
  /* Footer */
  .footer-distributed {
    background: linear-gradient(to bottom, #e6d0d3, #ffa6a6);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 40%;
  }
  
  .footer-distributed h3 {
    color: rgb(133, 49, 70);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
    margin: 0;
  }
  
  
  .footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #ffffff;
    color: rgb(230, 129, 154);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  #footer-logo {
    max-width: 50px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto;
    display: inline-block;
    margin-right: 10px; /* Tambahkan margin jika diperlukan */
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: rgb(133, 49, 70);
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: rgb(133, 49, 70);
    text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: rgb(133, 49, 70);
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: rgb(133, 49, 70);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    margin-top: 10px;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #080808;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  @media (max-width: 880px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }
  